name: Build Executables
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install pyinstaller
      - name: Build
        run: pyinstaller your_script.py --onefile
      - uses: actions/upload-artifact@v4
        with:
          name: myapp-${{ matrix.os }}
          path: dist/
